@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=PT+Sans&family=Victor+Mono:wght@300&display=swap");

:root {
  --font1: "Lato", sans-serif;
  --font2: "PT Sans", sans-serif;
  --font3: "Victor Mono", monospace;
  --color1: #27bcbc;
  --color2: #fff;
  --color3: #000;
  --background1: #373b3c;
  --background2: #fff;
  --background3: #142127;
  --background4: #525f5d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("https://p.w3layouts.com/demos/20-02-2016/exchange_education/web/images/bg.png");
  /* background-size: cover; */
  background-repeat: repeat;
  /* background-position: center;
  transition: 1s step-start; */
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

/* ******************************** Navigation Bar ********************************** */
header {
  background-color: var(--color1);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.icons {
  background-color: transparent;
  padding: 1.3rem;
  width: 25%;
  text-align: center;
}
.icons i {
  text-align: center;
  color: var(--color2);
  font-weight: 600;
}
nav {
  background-color: transparent;
}
nav ul {
  display: flex;
}
nav ul li {
  list-style-type: none;
  padding: 1.3rem 0.4rem;
}
nav ul li a {
  text-decoration: none;
  color: black;
  padding: 1rem 2rem;
  font-family: var(--font2);
  color: var(--color2);
}
nav ul li a:hover {
  background-color: var(--color2);
  transition: 0.5s ease-in-out;
  color: var(--color1);
}
#animate-icon {
  padding: 0rem 0.5rem;
  /* transform: rotate(177deg); */
  animation: none;
  transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

/* @keyframes rotateAnimation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } */

.dropdown-container {
  background-color: var(--background1);
  position: absolute;
  left: 37.9rem;
  top: 3.7rem;
  width: 11rem;
  display: none;
  border: 1px solid black;
}
.dropdown-container ul li {
  list-style-type: none;
  padding: 1rem 2.8rem !important;
}
.dropdown-container ul li a {
  text-decoration: none;
  color: var(--color2);
  font-size: 1.4rem;
  padding: 1rem 0rem;
  font-family: var(--font1);
}
.dropdown-container ul li a:hover {
  color: var(--color1);
  transition: 0.5s ease-in;
}
.dropdown-container ul li:hover {
  background-color: var(--background2);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.login-container {
  background-color: var(--background2);
  position: absolute;
  top: 4.7rem;
  right: 16.4rem;
  width: 19rem;
  height: 20rem;
  font-family: var(--font3);
  display: none;
  transition: 0.5s ease-in-out;
}
.log-tri {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 15px solid rgb(252, 251, 251);
  position: relative;
  left: 17rem;
  top: -0.6rem;
  transform: rotate(56deg);
}
.login-container p {
  padding-top: 1rem;
  padding-left: 1rem;
  padding-bottom: 0.5rem;
  color: var(--color3);
}
.in-stl {
  margin-left: 1rem;
  width: 16.7rem;
  height: 1.8rem;
  font-size: 1.1rem;
  outline: none;
  border-radius: 2px;
  border: 1px solid var(--color3);
  padding: 0.5rem;
}
.btn {
  padding: 0.4rem 7rem;
  text-align: center;
  margin: 0.8rem 1rem;
  background-color: #0166ff;
  color: var(--color2);
  border: none;
  cursor: pointer;
}
.btn:hover {
  background-color: #0025ca;
  transition: 0.5s ease-in-out;
}
#re-check {
  margin-left: 1rem;
  cursor: pointer;
  color: #27bcbc;
}
.login-container span {
  padding: 0rem 0.5rem;
  color: var(--color3);
}
#log-forget {
  padding: 0;
  position: relative;
  left: 4rem;
  top: 1.7rem;
  color: var(--color3);
}
#log-forget:hover {
  background-color: var(--color1);
  color: var(--color1);
}
#animate-icon2 {
  animation: none;
  transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.signin-container {
  position: absolute;
  background-color: var(--background2);
  top: 2rem;
  top: 4.7rem;
  right: 8rem;
  width: 19rem;
  font-family: var(--font3);
  display: none;
}
.signin-container p {
  padding: 0.5rem 1rem;
  color: var(--color3);
}
#animate-icon3 {
  animation: none;
  transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#menuBar {
  display: none;
}
#menuRem {
  display: none;
}

/* ************************** Navigation bar Media Query ********************************* */
@media screen and (max-width: 770px) {
  html,
  body {
    width: 100%;
    /* height: 100%; */
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  header {
    width: 100%;
  }
  .icons {
    width: 7rem;
  }
  nav {
    width: 85%;
  }
  nav ul li {
    padding: 0rem;
  }
  nav ul li a {
    padding: 1rem;
    font-size: 1rem;
    text-align: left;
  }
  .dropdown-container {
    position: absolute;
    left: 16.4rem;
  }
  .login-container {
    right: 8.4rem;
  }
  .signin-container {
    right: 3rem;
  }
}

@media screen and (max-width: 400px) {
  html,
  body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  #menuBar {
    display: block;
  }
  #menuRem {
    display: block;
  }
  header {
    width: 100%;
    display: inline-block;
  }
  #nav-element {
    display: none;
  }
  .icons {
    width: 100%;
    text-align: left;
  }
  .icons i {
    text-align: left;
  }
  .icons span {
    float: right;
    padding: 0.4rem 0.7rem;
    border: 1px solid var(--color2);
    border-radius: 3px;
    margin-bottom: 0.5rem;
  }
  .icons span:active {
    background-color: var(--background3);
  }
  .icons span i {
    font-size: 1.6rem;
  }
  #menuRem {
    font-size: 1.7rem;
  }
  nav {
    width: 100%;
  }
  nav ul {
    display: inline-block;
    position: relative;
    /* left: 7rem; */
    width: 100%;
  }
  nav ul li {
    width: 100%;
    text-align: center;
  }

  nav ul li a {
    padding: 0rem;
    font-size: 1rem;
    width: 100%;
    display: block;
    text-align: center;
    padding: 0.6rem 0rem;
  }
  .dropdown-container {
    position: relative;
    left: 0rem;
    top: 0rem;
    width: 100%;
  }
  .login-container {
    position: relative;
    right: -1.6rem;
    top: 1rem;
  }
  .log-tri {
    left: 9rem;
  }
  .signin-container {
    right: -1.7rem;
    position: relative;
    top: 1rem;
    transition: display 1s ease-in-out;
  }
  .dropdown-container ul li a {
    padding: 0rem;
    font-size: 1.1rem;
  }
}

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX Navigation Bar XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

/* ********************************* Banner ****************************************** */

swiper-container {
  width: 100%;
  height: 38rem;
  z-index: -1;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 95%;
  object-fit: cover;
}
.go-top-arrow {
  position: fixed;
  color: var(--color1);
  top: 35rem;
  right: 2rem;
  cursor: pointer;
  border-radius: 7px;
  background-color: transparent;
  padding-top: 0.3rem;
  padding-bottom: 1.85rem;
}
.go-top-arrow a:hover {
  background-color: var(--background1);
  color: var(--color2);
  border: 2px solid var(--background1);
  transition: 0.5s ease-in-out;
}
.go-top-arrow a {
  color: var(--color1);
  background-color: transparent;
  padding: 1rem 0.8rem;
  border-radius: 6px;
  position: relative;
  top: 0rem;
  border: 2px solid var(--color1);
}
.go-top-arrow a i {
  font-size: 2rem;
  font-weight: 800;
  text-align: center;
}

/* *********************************banner media query section ************************* */
@media screen and (max-width: 770px) {
  swiper-container {
    width: 115.57vw;
    height: 49vh;
  }
  .go-top-arrow {
    top: 57rem;
  }
}

@media screen and (max-width: 400px) {
  swiper-container {
    width: 100%;
    height: 36vh;
  }
  .go-top-arrow {
    top: 57rem;
  }
}

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX Banner XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

/* ********************************* About ******************************************** */

.about-container {
  background-image: url("https://p.w3layouts.com/demos/20-02-2016/exchange_education/web/images/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.about-container h1 {
  font-size: 2.4rem;
  font-family: var(--font2);
  text-align: center;
  padding: 3rem 0rem;
  letter-spacing: 2px;
}

.about-content h2 {
  font-size: 2.5rem;
  font-family: var(--font2);
  text-align: center;
  padding: 3rem 0rem;
  letter-spacing: 3px;
}

.about-body {
  width: 85%;
  margin: auto;
  padding: 3rem 0rem;
}
.about-body p {
  font-size: 1.2rem;
  font-family: var(--font1);
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1.8;
}
.about-footer {
  display: flex;
  flex-wrap: wrap;
  margin-left: 1rem;
  padding: 4rem 0rem;
}
.a-footer-img img {
  height: 28rem;
  width: 30rem;
}
.a-footer-content {
  width: 47rem;
  /* background-color: red; */
}
.a-footer-content p {
  font-size: 1.2rem;
  font-family: var(--font1);
  font-weight: 700;
  padding: 3rem 2rem;
  line-height: 1.5;
  letter-spacing: 1px;
}

/* ***********************************About Media Query Section ********************** */
@media screen and (max-width: 770px) {
  .about-container {
    width: 100%;
  }
  .about-footer {
    opacity: 1 !important;
  }
  .a-footer-img img {
    height: 20rem;
    width: 20rem;
  }
  .about-container h1 {
    font-size: 1.1rem;
    padding-right: 8rem;
  }
  .about-content h2 {
    padding: 2rem 0rem;
  }
  .a-footer-content {
    width: 26.98rem;
  }
  .about-body {
    width: 83%;
    padding: 1rem 0rem;
    margin-left: 1.8rem;
  }
  .a-footer-content p {
    font-size: 1rem;
    padding: 2rem 2rem;
  }
}

@media screen and (max-width: 400px) {
  .about-container {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .a-footer-img img {
    height: 13rem;
    width: 20rem;
  }
  .about-container h1 {
    font-size: 1rem;
    padding-right: 0rem;
  }
  .about-content h2 {
    font-size: 1.5rem;
    padding: 1rem 0rem;
  }
  .a-footer-content {
    width: 26.98rem;
  }
  .about-body {
    width: 83%;
    padding: 1rem 0rem;
    margin-left: 1.8rem;
  }
  .about-body p {
    font-size: 0.9rem;
  }
  .a-footer-content p {
    font-size: 0.7rem;
    padding: 1rem;
  }
}

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX About XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

/* ********************************* Foreword ****************************************** */
.foreword-container {
  transition: 0.5s step-end;
}
.foreword-container h1 {
  font-size: 2rem;
  font-family: var(--font2);
  text-align: center;
  padding: 3rem 0rem;
  letter-spacing: 2px;
}
.forword-body {
  width: 80%;
  margin: auto;
}
.forword-body p {
  font-size: 1.4rem;
  letter-spacing: 1px;
  line-height: 1.5;
}

.foreword-artist {
  position: relative;
  right: 1rem;
  text-align: right;
  font-family: var(--font3);
  padding: 3rem 0rem;
}

/* ******************************** forward media query Section **************************** */
@media screen and (max-width: 992px) {
  .foreword-container {
    opacity: 1 !important;
  }
  .foreword-container h1 {
    opacity: 1;
  }
  .forword-body {
    width: 95%;
    font-family: var(--font2);
  }
}

@media screen and (max-width: 400px) {
  .foreword-container {
    width: 100%;
  }
  .foreword-container h1 {
    font-size: 1.5rem;
    padding: 2rem 0rem;
  }
  .forword-body {
    width: 94%;
    font-family: var(--font2);
  }
  .forword-body p {
    font-size: 0.9rem;
  }
  .foreword-artist h3 {
    font-size: 1rem;
  }
}

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX Foreword XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

/* ********************************* Dropdown container ************************************/

/* ******************************* Admission section ************************************* */
.Admission-container h1 {
  font-size: 2.5rem;
  font-family: var(--font2);
  text-align: center;
  padding: 4rem 0rem;
}
.admission-content {
  width: 75%;
  margin: auto;
  padding: 3rem;
}
.admission-content p {
  font-size: 1.5rem;
  line-height: 1.5;
  letter-spacing: 1px;
  font-family: var(--font2);
  padding-bottom: 3rem;
}
.admission-pdf {
  height: 4rem;
  width: 14rem;
  background-color: rgb(226, 222, 222);
  margin: auto;
  padding: 0.8rem 0.7rem;
  border: 1px solid var(--color3);
}
.admission-pdf a {
  text-decoration: none;
  color: var(--color3);
  font-family: var(--font3);
  font-weight: 700;
  font-size: 1.4rem;
  padding: 1rem 0rem;
}
.admission-pdf a sup {
  color: var(--color1);
}
.admission-pdf a:hover {
  color: var(--color2);
  transition: 0.5s ease-in-out;
}
.admission-pdf:hover {
  background-color: var(--color3);
  color: var(--color2) !important;
  transition: 0.5s ease-in-out;
}

/* ******************************** admission media query section **************************** */
@media screen and (max-width: 992px) {
  .Admission-container {
  }
  .admission-content {
    width: 95%;
    padding: 3rem 0rem;
  }
}
@media screen and (max-width: 400px) {
  .Admission-container {
    width: 100%;
  }
  .Admission-container h1 {
    font-size: 1.7rem;
    padding: 0.5rem 0rem;
  }
  .admission-content {
    width: 95%;
    padding: 1rem 0rem;
  }
  .admission-content p {
    font-size: 0.9rem;
  }
  .admission-pdf {
    height: 3rem;
    width: 12rem;
  }
  .admission-pdf a {
    font-size: 1.2rem;
  }
}
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX Admission Section XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

/* ******************************* Alumnus Section ***************************************** */
.alumnus-container {
  margin: 3rem 0rem;
}
.alumnus-container h1 {
  text-align: center;
  font-size: 2.5rem;
  font-family: var(--font3);
  letter-spacing: 2px;
  padding: 3rem 0rem;
}
.alumnus-body {
  display: flex;
  flex-wrap: wrap;
  margin: 0rem 8rem;
}
.content {
  width: 30%;
  margin: 0rem 1rem;
}
.content h2 {
  font-size: 1.6rem;
  font-family: var(--font2);
  text-align: center;
  color: var(--color1);
  padding: 2rem 0rem;
}
.content img {
  width: 100%;
  height: 14rem;
  opacity: 0.7;
}
.content img:hover {
  opacity: 1;
}
.content p {
  font-size: 1.2rem;
  font-family: var(--font1);
  line-height: 1.3;
  padding: 2rem;
}
#content-img2 {
  height: 20rem;
}
#content-img3 {
  height: 18rem;
}

/* ******************************* Alums media query section ***************************** */
@media screen and (max-width: 770px) {
  .alumnus-container {
  }
  hr {
    /* width: 55.47rem; */
  }
  .alumnus-body {
    margin: 0rem 1rem;
  }
  .content {
    width: 31%;
    margin: 0rem 0.5rem;
  }
}

@media screen and (max-width: 400px) {
  .alumnus-container {
    width: 100%;
  }
  .alumnus-container h1 {
    font-size: 1.5rem;
    padding: 1rem 0rem;
  }
  .alumnus-body {
    margin: 0rem 1rem;
    flex-direction: column;
  }
  .content {
    width: 100%;
    margin: 0rem;
  }
  .content h2 {
    padding: 1rem 0rem;
  }
  .content p {
    padding: 0.5rem 0rem;
    font-size: 1rem;
  }
}

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX Alumnus Section XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

/* ****************************** Program Section ****************************************** */

.program-container {
  background-color: #373b3c;
  width: 86%;
  margin: auto;
  padding-bottom: 2rem;
}
.program-container h1 {
  color: var(--color2);
  padding: 3rem 0rem;
  text-align: center;
  font-family: var(--font2);
  font-size: 2.7rem;
  letter-spacing: 2px;
}
.program-container h3 {
  text-align: center;
  color: var(--color2);
  font-size: 1rem;
  font-family: var(--font1);
  letter-spacing: 1px;
  padding-bottom: 4rem;
}
.program-content {
  display: flex;
  flex-wrap: wrap;
}
.pro-con1 {
  background-color: transparent;
  width: 22%;
  border: 2px solid var(--color2);
  margin: 1.1rem;
}
.pro-con1 img {
  display: block;
  margin: auto;
  padding: 1.5rem 0rem;
}
.pro-con1 h2 {
  text-align: center;
  color: var(--color2);
  font-size: 1.5rem;
  letter-spacing: 1px;
  font-family: var(--font3);
  padding-bottom: 2rem;
}
.pro-con1 p {
  color: var(--color2);
  padding: 1rem 2rem;
  font-family: var(--font2);
  font-size: 1.2rem;
  line-height: 1.3;
}

/* ****************************** admission meadia query section ************************ */
@media screen and (max-width: 770px) {
  .program-container {
    width: 46.47rem;
    margin: auto;
  }
  .program-content {
    padding-left: 0.5rem;
  }
  .pro-con1 {
    width: 45%;
    height: 20rem;
  }
}

@media screen and (max-width: 400px) {
  .program-container {
    width: 90%;
    margin: auto;
  }
  .program-container h1 {
    font-size: 1.5rem;
    padding: 1rem 0rem;
  }
  .program-container h3 {
    font-size: 0.7rem;
  }
  .program-content {
    padding-left: 0rem;
    width: 100%;
    margin: 0rem;
  }
  .pro-con1 {
    width: 100%;
    height: 17rem;
    margin: 0.5rem;
  }
  .pro-con1 h2 {
    font-size: 1.3rem;
  }
  .pro-con1 p {
    padding: 0.5rem;
    font-size: 1rem;
  }
}

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX Program Section XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

/* ****************************** Services Section ***************************************** */
.service-container {
  width: 86%;
  /* background-color: red; */
  margin: auto;
  padding: 3rem 0rem;
}
.service-container h1 {
  text-align: center;
  font-size: 2.4rem;
  font-family: var(--font2);
  letter-spacing: 2px;
  padding: 2.6rem;
}
.service-container h3 {
  font-size: 1rem;
  font-family: var(--font1);
  letter-spacing: 1px;
  text-align: center;
  padding-bottom: 3.5rem;
}
.ser-con1 {
  /* background-color: red; */
  width: 50%;
  padding-top: 1.3rem;
  padding-bottom: 2rem;
}
.ser-con1 img {
  padding: 0rem 2rem;
}
.ser-con1 h4 {
  font-size: 1.6rem;
  text-align: center;
  font-family: var(--font3);
  position: relative;
  top: -4rem;
  left: -1rem;
  color: var(--color1);
}
.ser-con1 p {
  padding: 0rem 2rem;
  font-size: 1rem;
  font-family: var(--font2);
  letter-spacing: 1px;
}
.se-fle-con {
  display: flex;
  flex-wrap: wrap;
}

/* ******************************* service meadia query section ************************** */
@media screen and (max-width: 770px) {
  .service-container {
    width: 100%;
    margin: 0;
    padding: 1rem;
  }
  .ser-con1 h4 {
    top: -2.5rem;
    left: 2.5rem;
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 400px) {
  .service-container {
    width: 100%;
    margin: 0;
    padding: 1rem;
  }
  .service-container h1 {
    font-size: 1.5rem;
    padding: 1rem 0rem;
  }
  .service-container h3 {
    font-size: 0.8rem;
    padding-bottom: 1rem;
  }
  .ser-con1 h4 {
    top: -2.5rem;
    left: 2.5rem;
    font-size: 1.2rem;
  }
  .se-fle-con {
    flex-direction: column;
  }
  .ser-con1 {
    width: 100%;
    padding: 0.5rem;
  }
  .ser-con1 img {
    padding: 0rem;
    height: 3.2rem;
    width: 3rem;
  }
  .ser-con1 h4 {
    font-size: 0.9rem;
    left: 0.5rem;
  }
  .ser-con1 p {
    padding-left: 4rem;
    padding-right: 0rem;
  }
}

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX Services Section XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

/* ****************************** Faculty Section ******************************************* */
.faculty-container {
}
.faculty-container h1 {
  text-align: center;
  padding: 3rem 0rem;
  font-family: var(--font3);
  letter-spacing: 2px;
  font-size: 3rem;
}
.mask-container {
  display: flex;
  flex-wrap: wrap;
  padding-left: 5rem;
}
.faculty-mask-con {
  width: 18rem;
  height: 28.14rem;
  margin: 1rem 0.5rem;
}
.faculty-mask-con a img {
  width: 18rem;
  height: 20rem;
}
.faculty-mask-con h3 {
  font-family: var(--font2);
  text-align: center;
  padding: 0.7rem 0rem;
  letter-spacing: 1px;
}
.faculty-mask-con p {
  font-family: var(--font2);
  padding: 1rem 1rem;
  line-height: 1.5;
}
.faculty-mask-con::before {
  position: absolute;
  content: "";
  background-repeat: no-repeat;
  background-color: var(--background1);
  width: 18rem;
  height: 20rem;
  opacity: 0;
}
.faculty-mask-con:hover::before {
  opacity: 0.6;
  transition: 0.5s ease-in-out;
}

.mask {
  width: 18rem;
  height: 28.14rem;
  position: absolute;
  margin-top: -20.3rem;
  opacity: 0;
}
.mask:hover {
  opacity: 1;
  transition: 0.5s ease-in-out;
}
.social {
  /* background: blue; */
  display: flex;
  margin-left: 3rem;
  margin-top: 9rem;
}
.social li {
  list-style-type: none;
}
.social li a {
  display: inline-block;
  text-decoration: none;
  background-image: url("https://p.w3layouts.com/demos/20-02-2016/exchange_education/web/images/img-sprite.png");
  /* background-size: cover; */
  height: 3rem;
  width: 3.1rem;
  background-repeat: no-repeat;
  margin: 0rem 0.3rem;
}
.facebook:hover {
  background-position: -1px -50px;
  transition: 0.5s linear;
}
.twitter {
  background-position: -53px 1px;
}
.twitter:hover {
  background-position: -53px -50px;
  transition: 0.5s linear;
}
.googleplus {
  background-position: -102px 1px;
}
.googleplus:hover {
  background-position: -102px -50px;
  transition: 0.5s linear;
}

/* ****************************** Fuclty meadia query section ***************************** */
@media screen and (max-width: 770px) {
  .mask-container {
  }
  .faculty-mask-con {
    width: 10rem;
  }
  .faculty-mask-con a img {
    width: 10rem;
    height: 13rem;
  }
}

@media screen and (max-width: 400px) {
  .faculty-container h1 {
    font-size: 1.5rem;
    padding: 1rem 0rem;
  }
  .mask-container {
    padding-left: 0.5rem;
  }
  .faculty-mask-con {
    width: 10rem;
    overflow: hidden;
  }
  .faculty-mask-con a img {
    width: 10rem;
    height: 13rem;
  }
  .faculty-mask-con::before {
    width: 10rem;
    height: 13rem;
  }
  .faculty-mask-con a img {
    width: 10rem;
    height: 13rem;
  }
  .social {
    display: flex;
    margin-top: 13rem;
    margin-left: 0rem;
    overflow: hidden;
  }
  .social li a {
    margin: 0rem 0.1rem;
  }
  .mask {
    width: 10rem;
    height: 30rem;
  }
}

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX Faculty Section XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

/* ***************************** Infrastructure section ************************************ */

.image-slider {
  height: 36rem;
  width: 100%;
  /* background-color: red; */
  animation: infraAni 15s ease-in-out infinite;
}
.image-slider h1 {
  color: var(--background1);
  font-family: var(--font2);
}
.infra-container h1 {
  font-family: var(--font3);
  font-size: 2.5rem;
  letter-spacing: 2px;
  text-align: center;
  padding: 3rem 0rem;
}
@keyframes infraAni {
  0% {
    background-image: url("https://p.w3layouts.com/demos/20-02-2016/exchange_education/web/images/1.jpg");
    background-size: cover;
    background-position: center;
  }
  20% {
    background-image: url("https://p.w3layouts.com/demos/20-02-2016/exchange_education/web/images/2.jpg");
    background-size: cover;
  }
  40% {
    background-image: url("https://p.w3layouts.com/demos/20-02-2016/exchange_education/web/images/3.jpg");
    background-size: cover;
  }
  60% {
    background-image: url("https://p.w3layouts.com/demos/20-02-2016/exchange_education/web/images/5.jpg");
    background-size: cover;
  }
  80% {
    background-image: url("https://p.w3layouts.com/demos/20-02-2016/exchange_education/web/images/6.jpg");
    background-size: cover;
  }
  100% {
    background-image: url("/img/img4.jpg");
    background-size: cover;
  }
}

/* ***************************** infrastructure media query ****************************** */
@media screen and (max-width: 400px) {
  .infra-container h1 {
    font-size: 1.5rem;
  }
  .image-slider {
    height: 21rem;
    width: 100%;
  }
}

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXX Infrastructure Section XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

/* **************************** Project section ******************************************** */
.project-container {
  padding-left: 8rem;
}
.project-container h1 {
  padding: 4rem 0rem;
  text-align: center;
  letter-spacing: 2px;
  font-family: var(--font1);
  font-size: 2.5rem;
}
.project-content {
  display: flex;
}
.projec-img-con {
  height: 20rem;
  width: 30%;
}
.projec-img-con img {
  width: 100%;
}
.project-text {
  height: 20rem;
  width: 30%;
  padding: 1rem;
}
.project-text h2 {
  text-align: center;
  font-size: 2rem;
  font-family: var(--font2);
  letter-spacing: 2px;
  padding-bottom: 1rem;
  color: var(--color1);
}
.project-text p {
  font-size: 1.2rem;
  font-family: var(--font1);
  line-height: 1.4;
  font-weight: 600;
  padding: 0.5rem 1rem;
}
.project-img-con2 {
  height: 20rem;
  width: 30%;
}
.project-img-con2 img {
  width: 100%;
}

/* **************************** project meadia query section ********************************* */

@media screen and (max-width: 770px) {
  .project-content {
    margin-left: 2rem;
  }
  .project-container h1 {
    font-size: 1.5rem;
  }
  .project-container {
    padding: 0;
  }
  .project-text {
    width: 38%;
  }
}

@media screen and (max-width: 400px) {
  .project-content {
    margin-left: 0.7rem;
    flex-direction: column;
  }
  .project-container h1 {
    font-size: 1.2rem;
  }
  .project-container {
    padding: 0;
  }
  .project-text {
    width: 100%;
  }
  .project-text h2 {
    font-size: 1.5rem;
  }
  .project-text p {
    font-size: 1rem;
  }
  .projec-img-con img {
    width: 21rem;
  }
  .projec-img-con {
    width: 100%;
    height: 16rem;
  }
  .project-img-con2 {
    width: 100%;
    height: 16rem;
  }
}

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXX Project section XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

/* **************************** Event Section ********************************************** */
.event-container {
  padding: 3rem 0rem;
}
.event-container h1 {
  text-align: center;
  padding: 3rem 0rem;
  font-family: var(--font2);
  letter-spacing: 2px;
  font-size: 2.5rem;
}
.event-content-container {
  display: flex;
  margin-left: 5rem;
}
.colender-container {
  height: 22.5rem;
  width: 30%;
  background-color: var(--color2);
  margin: 0rem 0.5rem;
}
.table-header {
  background-color: var(--color1);
  display: flex;
  flex-wrap: nowrap;
}
.prevous-con {
  padding: 1rem;
}
.prevous-con span {
  font-family: var(--font2);
  font-size: 1.6rem;
  cursor: pointer;
  color: var(--color2);
}
.event-table {
  height: 18.5rem;
  /* background-color: green; */
}
.table-container {
  /* background-color: red; */
  height: 18.5rem;
  width: 100%;
  /* border: 1px solid black; */
  /* box-shadow: 5px 5px 5px 5px red; */
}
.table-container thead {
  font-family: var(--font2);
  color: var(--background1);
}
.table-container thead tr th {
  padding: 0.5rem;
}
.table-container tbody {
  text-align: center;
  padding: 1rem;
  font-family: var(--font1);
}
.th-hover {
  font-weight: 600;
}
.th-hover:hover {
  background-color: var(--color1);
  cursor: pointer;
  transition: 0.4s ease-in-out;
  color: var(--color2);
}

.mon-con {
  padding: 1rem;
  position: relative;
  left: 3.7rem;
}
.mon-con span {
  font-family: var(--font2);
  font-size: 1.6rem;
  color: var(--color2);
  text-align: center;
}
.next-con {
  padding: 1rem;
}
.next-con span {
  font-family: var(--font2);
  font-size: 1.6rem;
  cursor: pointer;
  color: var(--color2);
  padding-left: 1.5rem;
  position: relative;
  right: -6rem;
}

.event-dates {
  height: 22.5rem;
  width: 30%;
  /* background-color: rgb(151, 229, 41); */
  margin: 0rem 0.5rem;
}
.event-dates h2 {
  text-align: center;
  font-family: var(--font2);
  font-size: 1.6rem;
  letter-spacing: 2px;
  padding-bottom: 2rem;
}
.event-date-con {
  padding: 0.7rem 0.5rem;
}
.event-date-con span {
  color: var(--color1);
  font-size: 1.2rem;
  font-family: var(--font2);
}
.event-date-con p {
  font-size: 1.1rem;
  font-family: var(--font2);
  color: var(--background1);
}
.event-img {
  height: 22.5rem;
  width: 30%;
  background-color: rgb(41, 229, 191);
  margin: 0rem 0.5rem;
}
.event-img img {
  height: 22.5rem;
  width: 100%;
}

/* ******************************* event meadia query section ******************************** */
@media screen and (max-width: 770px) {
  .event-container {
    padding: 0rem 0rem;
  }
  .event-content-container {
    margin: 1rem 0.5rem;
  }
  .colender-container {
    width: 36%;
  }
  .event-dates {
    width: 36%;
  }
  .event-img img {
    height: 13.5rem;
  }
  .event-img {
    height: 13.5rem;
  }
  .prevous-con {
    padding: 0.5rem;
  }
  .mon-con {
    font-size: 1.2rem;
    padding: 0.5rem;
    left: 1.9rem;
    padding: 0.5rem;
  }
  .mon-con span {
    font-size: 1.1rem;
  }
  .next-con {
    padding: 0.5rem;
  }
  .next-con span {
    right: -4rem;
    padding-left: 0rem;
  }
  .table-container {
    font-size: 1rem;
  }
  .event-table {
    overflow: hidden;
  }
  .table-container thead tr th {
    font-size: 0.8rem;
  }
  .table-container tbody tr td {
    font-size: 0.7rem;
  }
  .event-date-con p {
    font-size: 0.9rem;
  }
  .event-date-con span {
    font-size: 0.9rem;
  }
  .event-date-con {
    padding: 0.4rem 1.8rem;
  }
}

@media screen and (max-width: 400px) {
  .event-container {
    padding: 0rem 0rem;
  }
  .event-container h1 {
    font-size: 1.5rem;
  }
  .event-content-container {
    margin: 1rem 0.5rem;
    flex-direction: column;
  }
  .colender-container {
    width: 95%;
  }
  .event-dates {
    width: 100%;
  }
  .event-dates h2 {
    font-size: 1.5rem;
    padding: 1rem 0rem;
  }
  .event-img img {
    height: 13.5rem;
  }
  .event-img {
    margin: 1rem 0.5rem;
    height: 13.5rem;
    width: 95%;
  }
  .prevous-con {
    padding: 0.5rem;
  }
  .mon-con {
    font-size: 1.2rem;
    padding: 0.5rem;
    left: 1.9rem;
    padding: 0.5rem;
  }
  .mon-con span {
    font-size: 1.1rem;
  }
  .next-con {
    padding: 0.5rem;
  }
  .next-con span {
    right: -4rem;
    padding-left: 0rem;
  }
  .table-container {
    font-size: 1rem;
  }
  .event-table {
    overflow: hidden;
  }
  .table-container thead tr th {
    font-size: 0.8rem;
  }
  .table-container tbody tr td {
    font-size: 0.7rem;
  }
  .event-date-con p {
    font-size: 0.9rem;
  }
  .event-date-con span {
    font-size: 0.9rem;
  }
  .event-date-con {
    padding: 0.4rem 1.8rem;
  }
}

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXX Event Section XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX Dropdown container XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

/* ********************************* News Section ****************************************** */
.news-container {
  padding: 2rem 0rem;
}
.news-container h1 {
  text-align: center;
  font-family: var(--font2);
  font-size: 2rem;
  padding: 3rem 0rem;
}
.news-content {
  margin-left: 7rem;
}
.news-content img {
  margin: 1rem;
}

/* ******************************* News meadia query section ******************************** */
@media screen and (max-width: 770px) {
  .news-container {
    padding: 0rem;
  }
  .news-content {
    margin: 0rem;
    padding: 0.5rem 1rem;
  }
  .news-content img {
    margin: 0.5rem;
    width: 30%;
  }
}

@media screen and (max-width: 400px) {
  .news-container {
    padding: 0rem;
  }
  .news-container h1 {
    font-size: 1.5rem;
  }
  .news-content {
    margin: 0rem;
    padding: 0rem .5rem;
  }
  .news-content img {
    margin: 0.1rem;
    width: 31%;
  }
}

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX News Section XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

/* ********************************* Contact Section *************************************** */
.contact-container {
  padding: 3rem 0rem;
}
.contact-container h1 {
  text-align: center;
  padding: 3rem 0rem;
  font-family: var(--font2);
  font-size: 2.5rem;
}
.contact-container button {
  padding: 1.3rem 2.7rem;
  margin-left: 35.5rem;
  font-size: 1.1rem;
  text-align: center;
  margin-top: 3rem;
  border: 1px solid var(--background1);
  cursor: pointer;
  font-family: var(--font1);
  font-weight: 600;
  background-color: transparent;
}
.contact-container button:hover {
  background-color: var(--color3);
  transition: 0.8s ease-in-out;
  color: var(--color2);
}
.contact-forms {
  display: flex;
  flex-wrap: nowrap;
  margin-left: 7.5rem;
}
.contact-inputs {
  /* background-color: red; */
}
.contact-inputs input {
  font-size: 1.1rem;
  height: 3.5rem;
  width: 33rem;
  margin: 0.8rem 1rem;
  padding-left: 1rem;
  outline: none;
  border: 1px solid var(--background1);
  border-radius: 3px;
  font-variant-numeric: normal;
  background-color: transparent;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.contact-textarea {
}
.contact-textarea textarea {
  height: 13.8rem;
  width: 36rem;
  resize: none;
  margin-top: 0.7rem;
  border: 1px solid var(--background1);
  border-radius: 3px;
  outline: none;
  padding: 1rem;
  font-size: 1.1rem;
  background-color: transparent;
}

/* ********************************** contact meadia query section *************************** */
@media screen and (max-width: 770px) {
  .contact-forms {
    margin: 0rem;
    position: relative;
    left: 1rem;
  }
  .contact-inputs {
    width: 48%;
  }
  .contact-forms input {
    font-size: 0.8rem;
    height: 3rem;
    width: 21rem;
  }
  .contact-textarea {
    width: 48%;
  }
  .contact-textarea textarea {
    width: 100%;
    height: 12.4rem;
    font-size: 0.9rem;
  }
  .contact-container button {
    margin-left: 19.5rem;
    padding: 0.8rem 1.3rem;
    font-size: 0.9rem;
    margin-top: 1rem;
  }
}


@media screen and (max-width: 400px) {
  .contact-container h1{
    font-size: 1.5rem;
    padding: 1rem 0rem;
  }
  .contact-forms {
    margin: 0rem;
    position: relative;
    left: .3rem;
  }
  .contact-inputs {
    width: 50%;
    /* background-color: red; */
  }
  .contact-forms input {
    font-size: 0.8rem;
    height: 2.2rem;
    width: 10rem;
  }
  .contact-textarea {
    width: 50%;
    /* background-color: blue; */
  }
  .contact-textarea textarea {
    width: 85%;
    height: 9.99rem;
    font-size: 0.9rem;
  }
  .contact-container button {
    margin-left: 8rem;
    padding: 0.8rem 1.3rem;
    font-size: 0.9rem;
    margin-top: 1rem;
  }
}




/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX Contact Section XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

/* ********************************* Map Section ******************************************** */
.map iframe {
  width: 100%;
  height: 40rem;
}

@media screen and (max-width: 400px){
  .map iframe{
    height: 20rem;
  }
}


/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX Map Section XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

/* ********************************* Footer Section **************************************** */
.footer-container {
  background-color: var(--background3);
}
.footer-content {
  display: flex;
  margin-left: 1rem;
}
.footer-acess {
  width: 48%;
  background-color: transparent;
  margin: 0rem 1rem;
  padding: 0rem 3rem;
}
.footer-acess h1 {
  font-family: var(--font2);
  letter-spacing: 2px;
  padding: 2rem 0rem;
  color: var(--color1);
}
.footer-acess p {
  font-family: var(--font2);
  line-height: 1.5;
  color: var(--background4);
}
.footer-adress {
  width: 16%;
  background-color: transparent;
  margin: 0rem 1rem;
}
.footer-adress h1 {
  font-family: var(--font2);
  letter-spacing: 2px;
  padding: 2rem 0rem;
  color: var(--color1);
}
.footer-adress p {
  font-family: var(--font2);
  line-height: 1.5;
  color: var(--background4);
}
.footer-adress span {
  color: var(--color1);
}
.footer-links {
  width: 20%;
  background-color: transparent;
  margin-left: 3rem;
  padding-left: 10rem;
}
.footer-links h1 {
  font-family: var(--font2);
  padding: 2rem 0rem;
  color: var(--color1);
}
.footer-links ul li {
  list-style-type: none;
}
.footer-links ul li a {
  text-decoration: none;
  font-family: var(--font2);
  color: var(--background4);
}
.footer-links ul li a:hover {
  color: var(--color2);
  transition: 0.5s ease-in-out;
}
.footer-social-link {
  /* background-color: red; */
  /* height: 4rem; */
  padding: 3rem 0rem;
}
.footer-social-link ul {
  display: flex;
  margin-left: 36rem;
}
.footer-social-link ul li {
  list-style-type: none;
}
.footer-social-link ul li a {
  display: inline-block;
  text-decoration: none;
  background-image: url("https://p.w3layouts.com/demos/20-02-2016/exchange_education/web/images/img-sprite.png");
  /* background-size: cover; */
  height: 3rem;
  width: 3.1rem;
  background-repeat: no-repeat;
  margin: 0rem 0.3rem;
}
.footer-facebook:hover {
  background-position: -2px -50px;
  transition: 0.5s linear;
}
.footer-twitter {
  background-position: -50px 1px;
}
.footer-twitter:hover {
  background-position: -47px -50px;
  transition: 0.5s linear;
}
.footer-google {
  background-position: -98px 1px;
}
.footer-google:hover {
  background-position: -98px -50px;
  transition: 0.5s linear;
}
.footer-instagram {
  background-position: -149px 1px;
}
.footer-instagram:hover {
  background-position: -149px -50px;
  transition: 0.5s linear;
}
.footer-youtube {
  background-position: -198px 1px;
}
.footer-youtube:hover {
  background-position: -198px -50px;
  transition: 0.5s linear;
}
.footer-container h3 {
  color: var(--color2);
  font-family: var(--font3);
  font-weight: normal;
  text-align: center;
  padding-bottom: 2rem;
}

/* ******************************** footer meadia query section ***************************** */
@media screen and (max-width: 770px) {
  .footer-content {
    width: 100%;
    margin: 0rem;
  }
  .footer-acess {
    width: 50%;
    height: 20rem;
    margin: 0rem;
  }
  .footer-adress {
    width: 21%;
    margin: 0rem;
  }
  .footer-links {
    width: 21%;
    padding: 0rem;
    margin: 0rem;
    padding-left: 4rem;
  }
  .footer-social-link {
    padding: 2rem 0rem;
  }
  .footer-social-link ul {
    margin-left: 16rem;
  }
}


@media screen and (max-width: 400px) {
  .footer-content {
    width: 100%;
    margin: 0rem;
  }
  .footer-acess {
    width: 50%;
    height: 21rem;
    margin: 0rem;
    padding: .9rem;
  }
  .footer-acess p{
    font-size: .8rem;
  }
  .footer-acess h1{
    font-size: 1.5rem;
  }
  .footer-adress {
    width: 21%;
    margin: 0rem;
  }
  .footer-adress p{
    font-size: .8rem;
  }
  .footer-adress h1{
    font-size: 1.5rem;
    padding: 2rem 0rem;
  }
  .footer-links {
    width: 29%;
    padding: 0rem;
    margin: 0rem;
    padding-left: 2rem;
  }
  .footer-links p{
    font-size: 1rem;
  }
  .footer-social-link {
    padding: 2rem 0rem;
  }
  .footer-social-link ul {
    margin-left: 2rem;
  }
  .footer-container h3{
    font-size: 1rem;
  }
  .go-top-arrow{
    top: 35rem;
  }
}

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX Footer Section XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
